{% extends "base.html" %}
{% block head_title %}
Welcome to
{% endblock %}

{% block styles %}
.jumbotron {
	color: red;
}
{% endblock %}

{% block jquery %}
//alert("welcome!");
{% endblock%}

{# Comments here #}


{% block content %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
<h1> Hello {{ username_is }}</h1>
<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
<p>To see the difference between static and fixed top navbars, just scroll.</p>
<p>
<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
</p>
</div>

{% endblock %}

